<h3>User</h3>
<p>Name: <%= @user.username if @user.username %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Created: <%= @user.created_at if @user.created_at %></p>
<p>Updated at: <%= @user.updated_at if @user.updated_at %></p>
<p>Last sign in at: <%= @user.last_sign_in_at if @user.last_sign_in_at %></p>
